body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #9dd8d6;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 1rem;
}


/* footer section styling */
footer{
    background: #222;
    padding: 5px 20px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: rgb(126, 33, 212);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

footer .social-media{
    display: flexbox;
    width: 100%;
}

footer .social-media a{
    margin: 10px;
}

footer .social-media a i{
    size: 500px;
    color: rgb(225, 121, 228);
    
    
}